.reason {
	width: 100%;
	background-color: var(--color--LightGrayishBlue);
	position: relative;
	z-index: -2;
	.container {
		width: 100%;
		max-width: 110rem;
		margin: 0 auto;
		min-height: 100%;
		display: flex;
		flex: 1 1 20rem;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		flex-direction: column;
		padding: 10rem 0rem;
	}
	&____header__copy {
	}
	&__main__copy {
		display: flex;
		justify-content: space-between;
		min-height: 140%;
		max-width: 100%;
		flex-wrap: wrap;
	}
	&__card {
		width: 250px;
		min-width: 250px;
		min-height: 100%;
		&__image {
			padding: 1rem 0rem;
		}
		&__header {
			padding: 1rem 0rem;
		}
		@media only screen and (max-width: $bp-mobile) {
			text-align: center;
		}
	}
}

.articles {
	width: 100%;
	background-color: var(color--VeryLightGray);
	.container {
		width: 100%;
		max-width: 110rem;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		background-color: turquoise;
	}
	.article {
		&__main {
			width: 100%;
		}
		&__cards {
			display: flex;
			justify-content: space-between;
			background-color: tomato;
		}
		&__card {
			width: 250px;
			min-width: 250px;
			min-height: 100%;
			background-color: white;
			&__image {
				height: 50%;
				max-width: 100%;
				background-color: magenta;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 5%;
				}
			}
			&__container {
				background-color: maroon;
				width: 90%;
				margin: 1rem auto;
				height: 45%;
			}
		}
	}
}
