@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
:root {
  --color--DarkBlue: hsl(233, 26%, 24%);
  --color--LimeGreen: hsl(136, 65%, 51%);
  --color--BrightCyan: hsl(192, 70%, 51%);
  --color--GrayishBlue: hsl(233, 8%, 62%);
  --color--LightGrayishBlue: hsl(220, 16%, 96%);
  --color--VeryLightGray: hsl(0, 0%, 98%);
  --color--White: hsl(0, 0%, 100%);
  --font-family: 'Public Sans', sans-serif;
  --weight-bold: 700;
  --weight-regular: 400;
  --weight-light: 300;
  --transiton: all 0.2s ease;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-family);
  margin: 0;
  font-size: 1.6rem;
  background-color: var(--color--White);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: var(--weight-bold);
  color: var(--color--GrayishBlue);
  background-color: salmon;
}

a:visited {
  text-decoration: none;
  color: var(--color--GrayishBlue);
}

.t-h1 {
  font-weight: var(--weight-regular);
  color: var(--color--DarkBlue);
  font-size: 4.8rem;
  line-height: 1.15;
  letter-spacing: 1;
  padding-bottom: 2rem;
}

.t-h2 {
  font-weight: var(--weight-regular);
  font-size: 3.2rem;
  letter-spacing: -1.43px;
  line-height: 1;
  color: var(--color--DarkBlue);
}

.t-h3 {
  font-weight: var(--weight-bold);
  font-size: 2.4rem;
  letter-spacing: -1.07px;
  line-height: 28px;
}

.t-h4 {
  font-weight: var(--weight-regular);
  font-size: 2rem;
  letter-spacing: -0.89px;
  line-height: 1;
  padding: 2rem 0rem;
}

.t-h6 {
  font-weight: var(--weight-bold);
  font-size: 1.25rem;
  color: var(--color--LightGrayishBlue);
}

.t-body1 {
  font-weight: var(--weight-regular);
  font-size: 1.5rem;
  letter-spacing: 0px;
  line-height: 2.5rem;
  width: 70%;
  color: var(--color--GrayishBlue);
  padding-bottom: 2.5rem;
}

.t-body2 {
  color: var(--color--GrayishBlue);
  padding: 2rem 0rem;
}

.t-body3 {
  color: var(--color--GrayishBlue);
  line-height: 2.5rem;
  font-weight: var(--weight-regular);
}

.t-body4 {
  font-size: 1.35rem;
}

.t-body6 {
  color: white;
  font-size: 1.5rem;
}

@media only screen and (max-width: 568px) {
  .t-body6 {
    font-size: 1.15rem;
  }
}

@media only screen and (max-width: 440px) {
  .t-body6 {
    font-size: 1rem;
  }
}

.btn {
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-weight: var(--weight-bold);
  font-size: 1.5rem;
  line-height: 1.667;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 50px;
}

.btn-mobile {
  background-color: transparent;
  border: 1px solid white;
}

.btn-green {
  background-image: -webkit-gradient(linear, left top, right top, from(#66d684), to(#62c6df));
  background-image: linear-gradient(to right, #66d684, #62c6df);
}

.screen-reader-only {
  padding: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
          clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  border: 0;
}

header {
  width: 100%;
  background-color: sandybrown;
}

header .container {
  background-color: seagreen;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 110rem;
}

header .container .side-items {
  display: none;
}

header .container .btn-mobile {
  display: none;
}

@media only screen and (max-width: 568px) {
  header .container .btn {
    display: none;
  }
}

@media only screen and (max-width: 440px) {
  header .container .nav-items {
    display: none;
  }
  header .container .side-items {
    display: none;
  }
  header .container .btn-mobile {
    display: block;
  }
  header .container .btn-mobile.btn--mobile--hidden {
    display: none;
    background-color: white;
  }
  header .container .btn-mobile.btn-mobile--active {
    display: block;
    width: 10px;
    height: 10px;
  }
}

.hero {
  width: 100%;
  max-height: 64rem;
  height: 90vh;
}

.hero .container {
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 100%;
}

.hero__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 40%;
}

.hero__image {
  max-width: 40%;
  z-index: -1;
}

.hero__image img {
  max-width: 150%;
}

footer {
  width: 100%;
  background-color: var(--color--DarkBlue);
  min-height: 20vh;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 110rem;
  margin: 0rem auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 2rem 0rem;
}

@media only screen and (max-width: 440px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 60%;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 440px) {
  footer .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 440px) {
  footer .footer__items {
    text-align: center;
  }
}

footer .footer__item {
  padding-bottom: 2rem;
}

@media only screen and (max-width: 440px) {
  footer .footer__item {
    padding: 1rem 0rem;
  }
}

footer .footer__header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 440px) {
  footer .footer__social {
    padding: 2rem 0rem;
  }
}

footer .footer__request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0rem;
}

@media only screen and (max-width: 440px) {
  footer .footer__request {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
  }
}

.reason {
  width: 100%;
  background-color: var(--color--LightGrayishBlue);
  position: relative;
  z-index: -2;
}

.reason .container {
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10rem 0rem;
}

.reason__main__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 140%;
  max-width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reason__card {
  width: 250px;
  min-width: 250px;
  min-height: 100%;
}

.reason__card__image {
  padding: 1rem 0rem;
}

.reason__card__header {
  padding: 1rem 0rem;
}

@media only screen and (max-width: 440px) {
  .reason__card {
    text-align: center;
  }
}

.articles {
  width: 100%;
  background-color: var(color--VeryLightGray);
}

.articles .container {
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: turquoise;
}

.articles .article__main {
  width: 100%;
}

.articles .article__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: tomato;
}

.articles .article__card {
  width: 250px;
  min-width: 250px;
  min-height: 100%;
  background-color: white;
}

.articles .article__card__image {
  height: 50%;
  max-width: 100%;
  background-color: magenta;
}

.articles .article__card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5%;
}

.articles .article__card__container {
  background-color: maroon;
  width: 90%;
  margin: 1rem auto;
  height: 45%;
}
/*# sourceMappingURL=style.css.map */